.bestsellers__card {
    background: url(../img/1prod.png);
    max-width: 552px;
    width: 100%;
    height: 800px;
    padding: 24px;
    position: relative;
}

.bestsellers__card2 {
    background: url(../img/2prod.png);
    max-width: 552px;
    width: 100%;
    height: 800px;
    padding: 24px;
    position: relative;
}

.bestsellers__card3 {
    background: url(../img/3prod.png);
    max-width: 552px;
    width: 100%;
    height: 800px;
    padding: 24px;
    position: relative;
}

.bestsellers__card4 {
    background: url(../img/4prod.png);
    max-width: 552px;
    width: 100%;
    height: 800px;
    padding: 24px;
    position: relative;
}

.bestsellers__card5 {
    background: url(../img/5prod.png);
    max-width: 552px;
    width: 100%;
    height: 800px;
    padding: 24px;
    position: relative;
}

.bestsellers__card6 {
    background: url(../img/6prod.png);
    max-width: 552px;
    width: 100%;
    height: 800px;
    padding: 24px;
    position: relative;
}

.icons {
    position: absolute;
    top: 24px;
    right: 24px;
    gap: 24px;
    text-align: center;
}

.icons__heart-hover path {
    fill: transparent;
    transition: 0.3s;
}

.icons__heart-hover:hover path {
    fill: #212121;
}

.icons__shop-hover path {
    fill: transparent;
    transition: 0.3s;
}

.icons__shop-hover:hover path {
    fill: #212121;
}


.bestsellers__shop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.bestsellers__card-desc_buy {
    position: absolute;
    left: 24px;
    bottom: 24px;
}

.bestsellers__card-desc_buy-btn {
    font-family: var(--sh);
    font-weight: 400;
    font-size: 24px;
    color: var(--black);
    padding: 26px 80px 26px 80px;
    background: var(--bg);
}

.bestsellers__card-desc_info {
    position: absolute;
    left: 24px;
    bottom: 124px;
}

