.header {
    display: flex;
    flex-direction: column;
}

.header__nav {
    padding: 24px 0;
    background: var(--bg);
    border: 1px solid #242424;
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav-logo {
    font-family: var(--sh);
    font-weight: 400;
    font-size: 24px;
    color: var(--black);
}

.header__nav-list {
    display: flex;
    gap: 120px;
    align-items: center;
}

.header__nav-list_item-link {
    font-family: var(--sh);
    font-weight: 400;
    font-size: 24px;
    color: var(--black);
    transition: 0.3s;
}

.header__nav-icons {
    display: flex;
    align-items: center;
    gap: 60px;
}

.banner {
    background: url(../img/bg.png) no-repeat bottom right / cover;
    height: 100svh;
    flex: 2 0 auto;
}

.banner__wrap {
    display: flex;
    align-items: center;
}

.banner__content {
    max-width: 1159px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.banner__title {
    font-family: var(--sh);
    font-weight: 400;
    font-size: clamp(1.875rem, 1.242rem + 3.17vw, 4.625rem);
    text-transform: uppercase;
    color: var(--ee);
}

.banner__desc {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 60px;
}

.banner__desc-slogan {
    font-family: var(--sh);
    font-weight: 400;
    font-size: 24px;
    max-width: 984px;
    width: 100%;
    color: var(--ee);
}

.banner__desc-link {
    padding: 26px 106px;
    border: 2px solid var(--ee);
    font-family: var(--sh);
    font-weight: 400;
    font-size: 24px;
    color: var(--ee);
    transition: 0.3s;
}

.banner__desc-link:hover {
    background: #212121;
}


@media screen and (max-width:952px){
    .header__wrap{
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (max-width:758px){
    .header__nav-list{
        flex-direction: column;
        gap: 20px;
    }
}